@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

* {
  background-color: #1d1d23;
  color: white;
  font-family: Roboto;
  padding: 20px;
}

#container {
  display: flex;
  justify-content: center;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#userSetTime {
  outline: none;
  font-size: 48px;
  text-decoration-line: underline;
  background: #34344a;
}

#userInput {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  background: #34344a;
  padding: 50px;
  align-items: center;
}

#settime {
  font-size: 24px;
  background: #34344a;
}

#userInput > button {
  border-radius: 36px;
  background: #f0f757;
  font-size: 18px;
  color: #34344a;
  padding: 20px 50px;
  border: none;
}

#currentTimers {
  padding: 20px 150px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #39393e;
  font-size: 24px;
  text-align: center;
}

#innerUserInput {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  background: #f0f757;
  align-items: center;
}

#timesUp {
  font-size: 48px;
  background: #f0f757;
  color: #34344a;
  font-weight: 500;
}

#innerButton {
  border-radius: 36px;
  background: #34344a;
  font-size: 18px;
  color: #fff;
  padding: 20px 50px;
  border: none;
}

@media screen and (max-width: 768px) {
  #userSetTime {
    font-size: 35px;
  }

  #settime {
    font-size: 20px;
  }

  #userInput > button {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  #userSetTime {
    font-size: 15px;
  }

  #settime {
    font-size: 12px;
  }
  #userInput > button {
    font-size: 12px;
    padding: 5px 15px;
  }

  #userInput {
    gap: 0px;
    padding: 15px;
  }

  #innerButton {
    font-size: 12px;
    padding: 5px 15px;
  }
  #timesUp {
    font-size: 28px;
  }
  #innerUserInput {
    gap: 0px;
    padding: 15px;
  }
}
